@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Đại học Mỏ Địa chất<br />
     Phố Viên , Cổ Nhuế , Bắc Từ Liêm , Hà Nội <br />
    <abbr title="Phone">Phone:</abbr>
    0123456789
</address>

<address>
    <strong>Hỗ trợ :</strong>   <a href="#">huyphambkt@gmail.com</a><br />
    
</address>