@model Ictshop.Models.Hedieuhanh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-xl-center">Chi tiết Hệ điều hành </h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenhdh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenhdh)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-success">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Mahdh })
    </button>|
    <button class="btn btn-success"> @Html.ActionLink("Back to List", "Index")</button>
</p>
